parameters:
	level: 3
	paths:
		- src
	ignoreErrors:
		- '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable::\$[a-z]#'
		- '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$[a-z]#'
		- '#Access to an undefined property Illuminate\\Foundation\\Auth\\User::\$[a-z]#'
		- '#Call to an undefined method Illuminate\\Contracts\\Auth\\[\a-zA-z\]::[a-zA-z]#'